todo.txt
vendor
.DS_Store
dist
artifact
lpac.zip
logs
.vscode
node_modules
.parcel-cache
assets/public/js/maps/build/
assets/public/js/compat/build/
assets/pro/public/js/maps/build/
assets/pro/admin/js/build/